html {
  font-size: 10px;
  background: url('DiasporicDivas.jpg') center;
  background-size: 666px;
  grid:flex;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: "Brush Script MT";
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem  whitesmoke;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 2.rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 20rem;
  text-align: center;
  color: whitesmoke;
  background: rgba(181, 185, 179, 0.219);
  text-shadow: 0 0 .5rem rgb(230, 14, 201);
  
}

.playing {
  transform: scale(1.1);
  border-color: hotpink;
  box-shadow: 0 0 1rem rgb(230, 14, 201);
}

kbd {
  display: block;
  font-size: 6rem;
}

.sound {
  font-size: 1.rem;
  text-transform: uppercase lowercase;
  letter-spacing: .1rem;
  color: whitesmoke;
}
